@page "/"
@using Weather.Web.Models
@inject HttpClient Http

<PageTitle>Weather.Web</PageTitle>

<h1>Weather/Route Request Demo</h1>

Enter coordinates of path and click "Get Weather" and the route/weather data will be
retrieved from the Azure Function API and displayed as JSON.
<br />
<EditForm Model="@userRouteModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <div>
        <label for="startLat">Start Latitude:</label>
        <InputNumber id="startLat" @bind-Value="userRouteModel.StartLatitude"/>
    </div>
    <div>
        <label for="startLong">Start Longitude:</label>
        <InputNumber id="startLong" @bind-Value="userRouteModel.StartLongitude" />
    </div>
    <div>
        <label for="endLat">End Latitude:</label>
        <InputNumber id="endLat" @bind-Value="userRouteModel.EndLatitude" />
    </div>
    <div>
        <label for="endLong">End Longitude:</label>
        <InputNumber id="endLong" @bind-Value="userRouteModel.EndLongitude" />
    </div>
    <button type="submit">Get Weather</button>
</EditForm>

<p>Result: @result</p>

@code {
    string? result;
    UserRouteModel userRouteModel = new UserRouteModel();

    private async Task Submit()
    {
        var apiUrl = $"http://localhost:7071/api/weather/" +
                     $"{userRouteModel.StartLatitude},{userRouteModel.StartLongitude}/" +
                     $"{userRouteModel.EndLatitude},{userRouteModel.EndLongitude}";

        // Call the API
        result = await Http.GetStringAsync(apiUrl);
    }
}