<div class="input-group mb-2">
    <input type="text" class="form-control" value="@Value" @oninput="OnInputChanged" placeholder="@Placeholder" aria-label="@Placeholder">
</div>

@code {
    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnInputChanged(ChangeEventArgs e)
    {
        Value = e.Value.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
}
